body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray;
  color: #fff;
}
.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}
